DTD/DTD5.dtd

<!DOCTYPE mondial [
<!ELEMENT mondial (country+) >
<!ELEMENT country (contCountries) >
<!ATTLIST country name CDATA #REQUIRED blength CDATA #REQUIRED >

<!ELEMENT contCountries (border*)>

<!ELEMENT border EMPTY>
<!ATTLIST border countryCode CDATA #REQUIRED
                 length CDATA #REQUIRED >
  
]>